[Unit]
Description=fetch odoo
; After=network.target
; Requires=
; Wants=
; StartLimitIntervalSec=0
[Service]
; Type=simple
; RemainAfterExit=

ExecStart=/home/odoo/goamanc/.config/systemd/user/fetch-odoo.sh



[Install]
; Alias=
; RequiredBy=
; Also=
; DefaultInstance=
WantedBy=multi-user.target
