[Unit]
Description=Goa Storage
; After=network.target
; Requires=
; Wants=
; StartLimitIntervalSec=0
[Service]
; Type=simple
; RemainAfterExit=

Environment=FORCE_COLOR=true
ExecStart=/home/odoo/goamanc/.config/systemd/user/goapower-server.fish



[Install]
; Alias=
; RequiredBy=
; Also=
; DefaultInstance=
WantedBy=multi-user.target
