[Unit]
Description=Jabberwock
; After=network.target
; Requires=
; Wants=
; StartLimitIntervalSec=0
[Service]
; Type=simple
; RemainAfterExit=

;Environment=TERM=xterm-256color
;Environment=COLORTERM=truecolor
Environment=FORCE_COLOR=true
ExecStart=/home/odoo/goamanc/.config/systemd/user/jabberwock.fish



[Install]
; Alias=
; RequiredBy=
; Also=
; DefaultInstance=
WantedBy=multi-user.target
