[Unit]
Description=Goa Storage
; After=network.target
; Requires=
; Wants=
; StartLimitIntervalSec=0
[Service]
; Type=simple
; RemainAfterExit=

ExecStart=/home/odoo/services/events/events.sh



[Install]
; Alias=
; RequiredBy=
; Also=
; DefaultInstance=
WantedBy=multi-user.target
