snippet bc "snippet"
background: $1;
endsnippet

snippet w "width" 
width: $1px;
endsnippet

snippet h "height" 
height: $1px;
endsnippet

snippet ba "description" 
background: $1;
endsnippet

snippet poa "description" 
position: absolute;
endsnippet

snippet bbox "description" 
box-sizing: border-box;
endsnippet

snippet btest "description" 
border: 1px red solid;
endsnippet
