snippet b "boot"


                              ${1:Content here}


==============================================================================
endsnippet


snippet l "line"
==============================================================================

endsnippet
