snippet p "Description" !b
<?php

$1

?>
endsnippet
snippet log "Description" !b
echo($1);
endsnippet
snippet d "Description" !b
var_dump($1);
endsnippet

snippet c "comments" !b
/**
 * $1
 */
endsnippet
