
snippet b "boot the doc"


                  ${1:Your title}


==============================================================================
endsnippet

snippet l "line"
==============================================================================
endsnippet

